@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7d77a0;
}

.card {
  height: 300px;
  width: 400px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px; /* Agrega perspectiva para el efecto 3D */
}

.card .face {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  transition: transform 0.5s ease; /* Agrega transición para suavizar el giro */
}

.card .face.front {
  background: linear-gradient(#08aeea, #2af598);
  transform: rotateY(0deg);
}

.card .face.back {
  background: linear-gradient(#f8da61, #ff5acd);
  transform: rotateY(180deg);
}

.card:hover .face.front {
  transform: rotateY(-180deg); /* Gira hacia atrás al pasar el cursor */
}

.card:hover .face.back {
  transform: rotateY(0deg); /* Gira hacia adelante al pasar el cursor */
}

.card .face h2 {
  font-size: 4em;
  text-transform: uppercase;
}
